.App {
  text-align: center;
}

label {
  margin-right: 10px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
